.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  height: 200px;
}

.front,
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 2px solid black;
  background: url(../images/secret.jpg);
  height: 100%;
  width: 48%;
}

.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  border: 2px solid black;
  background: url("../images/daniel.jpg");
  transform: rotateY(180deg);
  height: 100%;
  width: 48%;
  }

  .back:hover {
    bottom: 2px;
    right: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}